.numeros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em 6em 6em;
}

.numeros__container{
    margin: 0 2em;
    width: 25%;
}

.numeros__titulo{
    color: var(--vermelho-principal);
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
}

.numeros__subtitulo{
    color: var(--cinza-escuro);
    font-size: 18px;
    font-weight: 500;
}